<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiddlewareApp</title>
    
</head>
<body>
   
   <div>
    <header>
        <h1>Layout 1	</h1>
    </header>
   
   <div>@RenderBody()</div>
   <footer>
    <h1>Footer</h1>
   </footer>
</body>
</html>

