@{
    ViewData["Title"] = "About";
}

<h1>About MiddlewareApp</h1>
<p>This is a minimal About page for the MiddlewareApp.</p>
<p>Add details about the application here.</p>

@ViewData["data1"]
@ViewBag.data2
@TempData["data3"]
